backports-abc==0.5
bokeh==0.13.0
click==6.7
Flask==1.0.2
Flask-WTF==0.14.2
futures==3.2.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.22.0
packaging==17.1
pandas==0.23.3
pymongo==3.7.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
singledispatch==3.4.0.3
six==1.11.0
tornado==5.1
Werkzeug==0.14.1
WTForms==2.2.1
