{% extends "layouts/dashboard.html" %}
{% block content %}

    {% if not name %}
        <div class="container m-5 p-5">
        
        
        
        
        
        
                <h2 id="" class="text-monospace my-5">Welcome, The User! </h2>
            
                <p class="text-monospace my-5">Please make a selection: </p>
                <!--<a href="javascript:void(0);" onclick="$('#tog').slideToggle('fast');"> Login</a>--><!--Intresting way to use scripts-->
                <div class="btn-group">
                  <button type="button" class="btn btn-success btn-lg" value="Login"><i class="fa fa-sign-in"></i>Login</button>
                  <button type="button" class="btn btn-success btn-lg" value="Register"><i class="fa fa-user-plus"></i> Register</button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user-secret mr-1"></i>Admin <span class="caret"></span></button>
                    <ul class="dropdown-menu super_secure_dropdown_menu font-weight-bold pl-2" role="menu">
                      <li><a class="super_secure_dropdown_text" href="#">Super</a></li>
                      <li><a class="super_secure_dropdown_text" href="#">Secure</a></li>
                      <li><a class="super_secure_dropdown_text" href="#">Dropdown</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            <form class="form1 invisible my-3" method="POST" action="/">
            
                {{ form1.hidden_tag() }}
                {{ form1.name1.label }} {{ form1.name1(size=20, autofocus=true) }}
                {{ form1.submit1 }}
            </form>
            
            <form class="form2 invisible my-3" method="POST" action="/">
                {{ form2.hidden_tag() }}
                {{ form2.name2.label }} {{ form2.name2( autofocus=true) }}
                {{ form2.submit2 }}
            </form>

    {% else %}
        <!-- BOKEH STUFF -->  
        <div id="new-or-archive" style="position: relative;">
            <h2 id="login-welcome" class="text-success text-monospace my-5" style="position: absolute;">Welcome, {{ name }}! </h2>
            <h3 id="login-second" class="text-primary text-monospace my-5" style="opacity:0; "> Create new query or see archives?</h3> 
            <div class="btn-group m-3" id="login-second-btn-clk" style="opacity:0;">
                <button type="button" class="btn btn-outline-primary btn-lg text-monospace my-5" value="New"><i class="fa fa-sign-in"></i>Create New</button>
                <button type="button" class="btn btn-outline-primary btn-lg text-monospace my-5" value="Archives"><i class="fa fa-user-plus"></i>See Archives</button>
            </div>
        </div>
        
        <div class="my-5 ml-3 pr-5" id="new-query-cycle" style="opacity:0;">
        
            <blockquote class="blockquote">
              <p class="mb-0">Please select all that apply:</p>
              <footer class="blockquote-footer">Your form will be generated accordingly
              </footer>
            </blockquote>
        
            <ul class="list-group shadow-lg">
                <li class="list-group-item list-group-item-action text-monospace sel1" value="first">A</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="second">Really</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="third">Big</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="fourth">List</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="fifth">Of</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="sixth">Potential</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="seventh">Query</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="eighth">Parameters</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="all">All of the above</li>
                <li class="list-group-item text-monospace p-1">
                    <div class="btn-group btn-group-lg d-flex justify-content-end my-0" role="group" aria-label="Buried button group">
                        <button id="render-form-button" type="button" class="btn btn-primary text-monospace disabled" value="Begin">Render Form</button>
                        <button type="button" class="btn btn-danger text-monospace" value="Reset">Reset</button>
                    </div>
                </li>
            </ul>
        </div>
        
        
        
    {% endif %}
    
<!-- BOKEH STUFF -->    
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>

<div>
    {{ script|safe }}
    {{ div|safe }}    
</div>

    {% endblock content %}
    
    