{% extends "layouts/dashboard.html" %}
{% block content %}

    {% if not name %}
        <div class="container m-5 p-5">
        
        
        
        
        
        
                <h2 id="" class="text-monospace my-5">Welcome, The User! </h2>
            
                <p class="text-monospace my-5">Please make a selection: </p>
                <!--<a href="javascript:void(0);" onclick="$('#tog').slideToggle('fast');"> Login</a>--><!--Intresting way to use scripts-->
                <div class="btn-group">
                  <button type="button" class="btn btn-success btn-lg" value="Login"><i class="fa fa-sign-in"></i>Login</button>
                  <button type="button" class="btn btn-success btn-lg" value="Register"><i class="fa fa-user-plus"></i> Register</button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user-secret mr-1"></i>Admin <span class="caret"></span></button>
                    <ul class="dropdown-menu super_secure_dropdown_menu font-weight-bold pl-2" role="menu">
                      <li><a class="super_secure_dropdown_text" href="#"><i class="fa fa-eye-slash mr-1"></i>Super</a></li>
                      <li><a class="super_secure_dropdown_text" href="#"><i class="fa fa-eye-slash mr-1"></i>Secure</a></li>
                      <li><a class="super_secure_dropdown_text" href="#"><i class="fa fa-eye-slash mr-1"></i>Dropdown</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            <form class="form1 invisible my-3 form-inline" method="POST" action="/">
                <div class="form-group row">
                    {{ form1.hidden_tag() }}
                    {{ form1.name1.label( class_="my-1 mx-4 pl-5 text-monospace col-sm-2 col-form-label" ) }} {{ form1.name1( autofocus=true, class_="form-control ml-2 mr-0 pl-2 pr-0") }}
                </div>
                <div class="form-group row">
                    {{ form1.submit1( class_="btn btn-primary my-3 ml-0 px-4 py-2" ) }}
                </div>
            </form>
            
            <form class="form2 invisible my-3 form-inline" method="POST" action="/">
                <div class="form-group row">
                    {{ form2.hidden_tag() }}
                    {{ form2.name2.label( class_="my-1 mx-4 pl-5 text-monospace col-sm-2 col-form-label" ) }} {{ form2.name2( autofocus=true, class_="form-control ml-2 mr-0 pl-2 pr-0") }}
                </div>
                <div class="form-group row">
                    {{ form2.submit2( class_="btn btn-primary my-3 ml-0 px-3 py-2" ) }}
                </div>
            </form>
            {% if pleb %}
                <div id="denied" class="jumbotron jumbotron-fluid shadow-lg bg-white rounded pt-0 pl-5" style="position: relative; opacity:0;">
                  <div class="container-fluid pt-0 pl-5 ml-5">
                    <h1 class="display-2 text-danger pt-0 pl-5 pb-3">Nope</h1>
                    <p class="display-4 lead text-info pl-3 pt-0 mt-0">Authorization Needed</p>
                  </div>
                </div>
            {% endif %}

    {% else %}
        <!-- BOKEH STUFF -->  
        <div id="new-or-archive" style="position: relative;">
            <h2 id="login-welcome" class="text-success text-monospace my-5 pl-5" style="position: absolute;">Welcome, {{ name }}! </h2>
            <h3 id="login-second" class="text-primary text-monospace my-5 pl-5" style="opacity:0; "> Create new query or see archives?</h3> 
            <div class="btn-group m-3 pl-5" id="login-second-btn-clk" style="opacity:0;">
                <button type="button" class="btn btn-outline-primary btn-lg text-monospace my-1 pl-2" value="New"><i class="fa fa-code pr-1"></i>New Query</button>
                <button type="button" class="btn btn-outline-primary btn-lg text-monospace my-1 pl-2" value="Archives"><i class="fa fa-exchange pr-1"></i>Archives</button>
            </div>
        </div>
        
        
        <div class="my-5 ml-3 pr-5 mx-5 d-flex justify-content-center" id="archived-query-request" style="opacity:0; position: absolute;">
            <div class="alert alert-info d-flex justify-content-center" role="alert">
                  <h3 class="alert-heading mx-5 text-danger pl-5 warning-left">Attention:</h3>
                  <h5 class="text-monospace my-5 mx-5 text-dark d-flex justify-content-center cog-left">Archived query features are currently under maintenance. Please don't cry.</h5>
            </div>
        </div>
        <div class="my-5 ml-3 pl-3" id="new-query-cycle" style="opacity:0; poisition: relative;">
        
            <blockquote class="blockquote">
              <p class="mb-0">Please select all that apply:</p>
              <footer class="blockquote-footer">Your form will be generated accordingly
              </footer>
            </blockquote>
        
            <ul class="list-group shadow-lg">
            
                <li class="list-group-item list-group-item-action text-monospace sel1" value="first">A</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="second">Really</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="third">Big</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="fourth">List</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="fifth">Of</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="sixth">Potential</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="seventh">Query</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="eighth">Parameters</li>
                <li class="list-group-item list-group-item-action text-monospace sel1" value="all">All of the above</li>
                <li class="list-group-item text-monospace p-1">
                    <div class="btn-group btn-group-lg d-flex justify-content-end my-0" role="group" aria-label="Buried button group">
                        <button id="render-form-button" type="button" class="btn btn-primary text-monospace disabled" value="Begin"><i id="render-icon" class="pr-1 fa"></i>Render Form</button>
                        <button type="button" class="btn btn-danger text-monospace" value="Reset"><i class="fa fa-fast-backward pr-3"></i>Reset</button>
                    </div>
                </li>
                
            </ul>
            
        </div><!-- <div class="my-5 ml-3 pl-3" id="new-query-cycle" style="opacity:0; poisition: relative;"> --> 
        
        
        
    {% endif %}
    </div>
<!-- BOKEH STUFF -->    
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>

<div>
    {{ script|safe }}
    {{ div|safe }}    
</div>

    {% endblock content %}
    
    