{% macro nav_link(endpoint, text) %}
	{% if request.endpoint.endswith(endpoint) %}
		<a class="nav-item nav-link active" href="{{ url_for(endpoint) }}">{{text}}</a>
	{% else %}
		<a class="nav-item nav-link" href="{{ url_for(endpoint) }}">{{text}}</a>
	{% endif %}
{% endmacro %}


{% macro gen_title(title) %}
	{% if title %}
		<title>Interface - {{ title }}</title>
	{% else %}
		<title>Interface</title>
	{% endif %}
{% endmacro %}


{% macro render_field(field, place_holder) %}
	<div class="form-group">
		{{ field.label(class="form-control-label") }}
		{% if field.errors %}
			{{ field(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
				{% for error in field.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% elif place_holder %}
			{{ field(class="form-control form-control-lg", placeholder=place_holder) }}
		{% else %}
			{{ field(class="form-control form-control-lg") }}
		{% endif %}
	</div><!-- form-group -->
{% endmacro %}

{% macro render_collapsible(link_name, aria_id, collapsible_id, choices, field_type) %}

  <div class="card">
    <div class="card-header" role="tab" id="{{ aria_id }}">
      <h5 class="mb-0">
        <a class="collapsed text-info" data-toggle="collapse" href="#{{ collapsible_id }}" aria-expanded="true" aria-controls="{{ collapsible_id }}">
          {{ link_name }}
        </a>
      </h5>
    </div>
    <div id="{{ collapsible_id }}" class="collapse " role="tabpanel" aria-labelledby={{ aria_id }}>
      <div class="card-body">
          {% for key, val in choices %}
              <li class="list-group-item list-group-item-action text-monospace {{ field_type }} " value="{{ key }}">{{ val }}</li>
          {% endfor %}
      </div>
    </div>
  </div><!--<div class="card">-->

{% endmacro %}